/*HEADER*/
.header-contenedor{
  width:100%;
  height: 100vh;
  background-image: url('./img/header.webp');
  background-size: cover;
  background-position: center;
}
/*TAJETA PARA EL MONOGRAMA*/
.card-monograma-img{
  width:100%;
  display:flex;
  align-items: center;
  justify-content:center;  
}
.card-monograma-img-nombres{
  margin-top:30px;
  width:100%;
}
.card-monograma-texto{
  width:100%;
  margin-top: 30px;
}
.card-monograma-texto p{
  text-align:center;
  font-style: italic;
  font-family: var(--fuenteTerciaria);
  color:#acacac
}
.card-monograma-nombres{
  margin: 30px 0;
}
.card-monograma-nombres h1{
  font-family: var(--fuenteSecundaria);
  font-size: 40px;
}
.card-monograma-nombres p{
  font-size: 40px;
}

.card-monograma-fecha{
  margin-top:30px;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:5px;
  color:var(--colorPrincipal)
}
.card-monograma-fecha span{
  font-size:10px;
}

/*CARD PARA NOMBRE DE LOS PAPÁS*/

.card-papas p{
  text-align:center;
  font-size:18px;
  margin-top: 30px;
  font-style: italic;
  color: #acacac;
  font-family: var(--fuenteTerciaria);
}
.card-papas-papas{
  width: 100%;
  margin: 30px 0;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap:25px;
}
.card-papas-nombres{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
}
.card-papas-papas h3{
  font-size: 18px;
  font-family: var(--fuenteTerciaria);
}
.frase-contenedor{
  width:100%;
  margin: 40px 0;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
}
.frase-contenedor p{
  width:60%;
  font-family:var(--fuenteTerciaria);
  font-style:italic;
  font-size:16px;
}
.frase-contenedor{
  font-style:italic;
  font-family:var(--fuenteTerciaria);
  font-size:16px;
}

/*CARD PARA HORARIOS Y UBICACIONES*/
.card-horarios-titulo{
  text-align:center;
  font-family:var(--fuenteCursiva);
  font-size: 28px;
  color:var(--colorPrincipal)
}
.card-horarios-item{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.card-horarios-item h2{
  font-size:16px;
  font-family:var(--fuenteTerciaria);
  font-weight:bold;
}
.card-horarios-direccion{
  width:100%;
}
.card-horarios-direccion p{
  text-align:center;
  font-family:var(--fuenteSecundaria);
  color:#acacac;
  font-size:14px;
}
.card-horarios-direccion h3{
  margin-top:10px;
  text-align:center;
  font-family:var(--fuenteSecundaria);
  font-size:22px;
}
.card-horarios-boton{
  margin-top:20px;
  display:flex;
  justify-content:center;
  
}

/*Reservado de Lugares*/
.lugares-contenedor{
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.lugares-contenedor h3{
  font-family: var(--fuenteSecundaria);
  font-size: 30px;
  font-weight: bold;
}
.lugares-contenedor span{
  font-size:100px;
  font-weight: bold;
  font-family:var(--fuenteSecundaria);
}
.lugares-contenedor p{
  margin-top:-30px;
  font-family: var(--fuenteTerciaria);
  color:#acacac;
  font-size: 25px;
  font-style: italic;
}

/*CARD PARA LA CONFIRMACION DE ASISTENCIA*/
.card-confirmacion-contenedor{
  width:100%;
}
.card-confirmacion-titulo{
  text-align:center;
  font-family:var(--fuenteCursiva);
  font-size:30px;
  color:var(--colorPrincipal)
}
.card-cofirmacin-texto{
  text-align:center;
  margin-top:20px;
  font-size:16px;
  line-height: 1.3;
}
.card-confirmacion-botones{
  width:100%;
  display:flex;
  justify-content:space-around;
  align-items:center;
  margin-top:30px;
}
.card-confirmacion-item{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
}
.card-confirmacion-item div{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:5px;
}

/*Sugerencia de hospedaje*/
.card-hospedaje-titulo{
  text-align:center;
  font-family:var(--fuenteCursiva);
  font-size:28px;
  color:var(--colorPrincipal)
}
.card-hospedaje-texto{
  text-align:center;
  font-size:16px;
  line-height: 1.3;
}
.card-hospedaje-texto:first-of-type{
  margin-top: 30px;
}
.card-hospedaje-texto:last-of-type{
  margin-bottom: 30px;
}
.card-hospedaje-texto span{
  font-weight: bold;
  font-size: 18px;
}