.modal-tittle-1{
  margin:20px 0;
}

@media (min-width: 768px) {
    .modal-imagen-contenedor img{
      width:25% !important;
    }
}
.modal-tittle-2 p{
  font-size: 35px;
  color: var(--back-color);
}
 
.modal-content{
  margin-bottom: 20px;
  font-style: italic;
  font-size: 18px;
  color: var(--back-color);
}

.modal-button{
  background-color:var(--colorFondo);
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  color:var(--back-color);
  cursor:pointer;
}