:root{
  --colorPrincipal:#E8CC9A;
  --colorTexto:#383333;
  --colorFondo:#e5e0cf;
  --colorSecundario:#2348eb;
  --blanco:#fff;
  --negro:#000;
  --colorSombra:#acacac;
  
  --fuentePrincipal:"Lora", serif;
  --fuenteCursiva:"Great Vibes", cursive;
  --fuenteSecundaria:"Cinzel", serif;
  --fuenteTerciaria:"Playfair Display", serif;
}